#app {
    font-family: Montserrat, sans-serif;
    color: #25292e;
    
    background: rgb(207, 215, 228); 
/* background: linear-gradient(186deg, rgba(41,41,162,1) 35%, rgba(0,40,255,1) 100%);  */
}
